#planner-title{
    background-image: url("../img/beach_background.jpg");
    background-position: right bottom;
    background-size: 100%;
    color: white;
}

#planner-container{
    background-color: #fff;
    font-family: "Oswald", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.grey-border{
    border-bottom: 1px solid #e1e8ed;
}

.vertical-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home-planner-schedule{
    margin-bottom: 20px;
}

.activity-tile {
    display: inline-block;
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

div.activity-panel:hover{
    background-color: #ededff;

}


.activity-tile-text{
    vertical-align: middle;
}

#flights-tile{
    background-image: url("../img/flights_background.jpg");
    background-position: right bottom;
    background-size: cover;
    color: white;
}

#hotels-tile{
    background-image: url("../img/hotels_background.jpg");
    background-position: right bottom;
    background-size: cover;
    color: white;
}

#rentals-tile{
    background-image: url("../img/rentals_background.jpg");
    background-position: right bottom;
    background-size: cover;
    color: white;
}

#other-tile{
    background-image: url("../img/other_background.jpg");
    background-position: right bottom;
    background-size: cover;
    color: white;
}

.tile-container{
    margin-bottom: 35px;
}

.text-color-grey{
    color: #1554b8;
}

@font-face {
    font-family: Oswald;
    src: url(Oswald-Light.ttf)
}

.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
