<section data-ng-controller="PlannerController">

   <div class="container row" id="planner-container">

      <div class="col-md-10 col-md-offset-1">
         <div class="jumbotron" id="planner-title">
            <h1 class="display-3">Your Travel Planner</h1>
            <p class="lead">March 20, 2016 to March 26, 2016</p>
            <p>Budget: $3,000</p>
         </div>

         <div class="row" id="home-planner-schedule">
            <div class="col-md-12 text-center grey-border">
               <h1>New Panel <span class="glyphicon glyphicon-pencil"></span> </h1>
            </div>

            <div class="col-md-12 activity-panel grey-border" ng-click="isCollapsed = !isCollapsed">
               <h3>Running at <span class="text-color-grey"> 6am Mon, March 21</span></h3>

               <div collapse="isCollapsed">
                  <div class="well well-lg"><h4>Running at the Pier</h4></div>
               </div>
            </div>

            <div class="col-md-12 activity-panel grey-border" ng-click="isCollapsed = !isCollapsed">
               <h3>Visit Museum at <span class="text-color-grey">1pm Mon, March 21</span></h3>

               <div collapse="isCollapsed">
                  <div class="well well-lg"><h4>Visit Museum of Modern Arts</h4></div>
               </div>
            </div>

            <div class="col-md-12 activity-panel grey-border" ng-click="isCollapsed = !isCollapsed">
               <h3>Clubbing at <span class="text-color-grey">11pm Mon, March 21 </span></h3>
               <div collapse="isCollapsed">
                  <div class="well well-lg"><h4>Clubbing at Omnia</h4></div>
               </div>
            </div>
         </div>

         <div class="row marketing tile-container">
            <div class="col-md-3">
               <a ui-sref="planner.flights" class="activity-tile" id="flights-tile">
                  <h1 class="vertical-center">Flights</h1>
               </a>
            </div>

            <div class="col-md-3">
               <a ui-sref="planner.hotels" class="activity-tile" id="hotels-tile">
                  <h1 class="vertical-center">Hotels</h1>
               </a>
            </div>

            <div class="col-md-3">
               <a ui-sref="planner.rentals" class="activity-tile" id="rentals-tile">
                  <h1 class="vertical-center">Rentals</h1>
               </a>
            </div>

            <div class="col-md-3">
               <a ui-sref="planner.other" class="activity-tile" id="other-tile">
                  <h1 class="vertical-center">Other</h1>
               </a>
            </div>
         </div>

      </div>
   </div>
</section>
